//Author: fjfernandez <fjfernandez@emergya.com>

footer{
  background-color: $footer-bg;
  color: $footer-color;
  border-bottom: none;
}

a:link{
  color: $footer-color;
  text-decoration:none;
}

a:visited{
  color: $footer-color;
}
