//Author: fjfernandez <fjfernandez@emergya.com>

//Change the left pane bg
div.col-xs-24.pane-header{
  background-color: $colums-bg;
}

//Change the table bg
.bigtable th{
  background-color: $main-table-bg;
}

//Chevron
img.icon-collapse{

  &.icon-sm{
    background-image: url("../img/chevron-up.png");
    padding: 8px;
  }
}

img.icon-expand{

  &.icon-sm{
    background-image: url("../img/chevron-down.png");
    padding: 8px;
  }
}

//Test ok
img.icon-blue{

  &.icon-sm{
    background-image: url("../img/success-16x16.png");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/success-24x24.png");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/success-32x32.png");
    padding: 16px;
  }
}


//Gif OK
img.icon-blue-anime{

  &.icon-sm{
    background-image: url("../img/success16x16.gif");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/success24x24.gif");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/success32x32.gif");
    padding: 16px;
  }
}

//Test warning
img.icon-grey{

  &.icon-sm{
    background-image: url("../img/warning16x16.gif");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/warning24x24.gif");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/warning32x32.gif");
    padding: 16px;
  }
}

img.icon-grey-anime{

  &.icon-sm{
    background-image: url("../img/warning16x16.gif");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/warning24x24.gif");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/warning32x32.gif");
    padding: 16px;
  }
}

//Test fail
img.icon-red{

  &.icon-sm{
    background-image: url("../img/error-16x16.png");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/error-24x24.png");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/error-32x32.png");
    padding: 16px;
  }
}

//Gif fail
img.icon-red-anime{

  &.icon-sm{
    background-image: url("../img/error16x16.gif");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/error24x24.gif");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/error32x32.gif");
    padding: 16px;
  }
}

//Yellow
img.icon-yellow{

  &.icon-sm{
    background-image: url("../img/not-executed-16x16.png");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/not-executed-24x24.png");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/not-executed-32x32.png");
    padding: 16px;
  }
}

//Gif warning
img.icon-yellow-anime{

  &.icon-sm{
    background-image: url("../img/warning16x16.gif");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/warning24x24.gif");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/warning32x32.gif");
    padding: 16px;
  }
}

//No built
img.icon-nobuilt{

  &.icon-sm{
    background-image: url("../img/not-executed-16x16.png");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/not-executed-24x24.png");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/not-executed-32x32.png");
    padding: 16px;
  }
}

//Gif warning
img.icon-nobuilt-anime{

  &.icon-sm{
    background-image: url("../img/warning16x16.gif");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/warning24x24.gif");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/warning32x32.gif");
    padding: 16px;
  }
}

img.icon-aborted{

  &.icon-sm{
    background-image: url("../img/not-executed-16x16.png");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/not-executed-24x24.png");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/not-executed-32x32.png");
    padding: 16px;
  }
}

//Gif aborted
img.icon-aborted-anime{

  &.icon-sm{
    background-image: url("../img/warning16x16.gif");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/warning24x24.gif");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/warning32x32.gif");
    padding: 16px;
  }
}

//Change the clock icon
img.icon-clock{

  &.icon-sm{
    background-image: url("../img/play-24x24.png");
    padding: 12px;
  }

  &.icon-md{
    background-image: url("../img/play-32x32.png");
    padding: 16px;
  }

  &.icon-lg{
    background-image: url("../img/play-32x32.png");
    padding: 16px;
  }
}

//Clock gif
img.icon-clock-anime{

  &.icon-sm{
    background-image: url("../img/clock-16x16.gif");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/clock-24x24.gif");
    padding: 16px;
  }

  &.icon-lg{
    background-image: url("../img/clock-24x24.gif");
    padding: 16px;
  }
}

//State warning
img.icon-health-20to39, img.icon-health-40to59, img.icon-health-60to79, img.icon-health-40to59, img.icon-health-60to79{

  &.icon-sm{
    background-image: url("../img/warning16x16.png");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/warning24x24.png");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/warning32x32.png");
    padding: 16px;
  }
}

//State Error
img.icon-health-00to19{

  &.icon-sm{
    background-image: url("../img/fail16x16.png");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/fail24x24.png");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/fail32x32.png");
    padding: 16px;
  }
}

//State OK
img.icon-health-80plus{

  &.icon-sm{
    background-image: url("../img/Smile16x16.png");
    padding: 8px;
  }

  &.icon-md{
    background-image: url("../img/Smile24x24.png");
    padding: 12px;
  }

  &.icon-lg{
    background-image: url("../img/Smile32x32.png");
    padding: 16px;
  }
}

//Left menu icons
#tasks .task{
  margin-bottom: 10px;
}

img.icon-new-package{
  &.icon-md{
    background-image: url("../img/plus_24x24.png");
    padding: 12px;
  }
}

img.icon-user{
  &.icon-md{
    background-image: url("../img/user_24x32.png");
    padding: 12px;
  }
}

img.icon-notepad{
  &.icon-sm{
    background-image: url("../img/pen_16x16.png");
    padding: 8px;
    margin-right: 5px;
  }

  &.icon-md{
    background-image: url("../img/clock_24x24.png");
    padding: 12px;
  }
}

img.icon-gear2{
  &.icon-md{
    background-image: url("../img/cog_24x24.png");
    padding: 12px;
  }
}

#tasks{
  div:nth-child(5) {
    img.icon-user{
      &.icon-md{
        background-image: url("../img/folder_stroke_24x24.png");
        padding: 12px;
      }
    }
  }
}

img.icon-credentials-credentials{
  &.icon-md{
    background-image: url("../img/key_stroke_24x24.png");
    padding: 12px;
  }

  &.icon-xlg{
    background-image: url("../img/key_stroke_48x48.png");
    padding: 24px;
    margin-right: 10px;
  }
}

#jenkins .task-link{
  vertical-align: text-top;
}

//Change the desactivate proyect button
#yui-gen1-button{
  background-color: $header-bg-main !important;
  border-radius: 5px !important;
}