//Main color
$jenkins-bg: #F8F8F8;

//Header
$header-bg-main: #0C4B33;
$sub-header-bg: #44B78B;

//Body
$colums-bg: #44B78B;
$main-table-bg: #44B78B;
$table-stripped: rgba(225, 226, 227, 0.81);

//Footer
$footer-bg: #0C4B33;
$footer-color: #6A9182;

//Fonts
@font-face {
  font-family: Lato;
  src: url('https://fonts.googleapis.com/css?family=Lato');
}