//Author: fjfernandez <fjfernandez@emergya.com>

footer{
  background-color: $footer-bg;
  color: white;
  border-bottom: none;
}

a:link{
  color: #1681B3;
  text-decoration:none;
}

a:visited{
  color: #1681B3;
}
