//Main color
$jenkins-bg: #F9F7F7;

//Header
$header-bg-main: #00BD59;
$sub-header-bg: #EDEDED;

//Body
$colums-bg: #EDEDED;
$main-table-bg: #EDEDED;

//Footer
$footer-bg: #025629;

//Fonts
@font-face {
  font-family: Lato;
  src: url('https://fonts.googleapis.com/css?family=Lato');
}